#backgrand1{
    width: 1300px;
    height: 720px;
    position: absolute;
    background-color: #ddd;
    z-index: -1;
    left: 17%;
    bottom: 190px;
    @media screen and(max-width:768px){
        width: 100%;
        left: 0%;
    }
}
.border_outside{
    padding-bottom: 120px;
    &::before{
        content: "";
        border: 1px solid black;
        border-radius: 10px;
        padding: 0 45% 750px;
        top:30px;
        position: absolute;
        left: 15px;
        @media screen and(max-width:768px){
            padding: 0 45% 750px;
            right: 15px;
        }
    }
    &::after{
        content: "";
        border: 1px solid black;
        border-radius: 10px;
        padding: 0 45% 750px;
        top:75px;
        position: absolute;
        right: 15px;
        z-index: -1;
        @media screen and(max-width:768px){
            padding: 0 40% 720px;
            left: 30px;
            right: 30px;
            top:45px;
            
        }
    }
}