$fontSize1 : 16px;
$color1 : #FD1B3F;

* {
    box-sizing: border-box;
    list-style: none;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    margin: 0px;
    padding: 0px;
    // overflow: hidden;
}

body {
    margin: 0;
    background-color: rgb(25, 25, 25)
}

.all {

    //hearder部分
    .headerInner {
        width: 80%;
        margin: auto;

        .logo {
            width: 190px;
            height: 48px;
            padding: 15px 0;

            a {
                svg {
                    fill: white;
                    width: 16px;
                    line-height: 48px;
                }
            }

            &:hover {
                .microsoft-red {
                    fill: rgb(242, 80, 34);
                    transition: 0.4;
                }

                .microsoft-green {
                    fill: rgb(127, 186, 0);
                    transition: 0.8;
                }

                .microsoft-blue {
                    fill: rgb(0, 164, 239);
                    transition: 1.2;
                }

                .microsoft-yellow {
                    fill: rgb(255, 185, 0);
                    transition: 1.6;
                }
            }
        }

        .sitTitke {
            margin-right: 400px;

            a {
                text-decoration: none;
                font-size: $fontSize1;
                font-weight: 600;
                line-height: 48px;
                color: #fff;

                &:hover {
                    color: rgb(0, 81, 255)
                }
            }

        }

        .navigation {
            width: 45%;

            // padding: 0 120px 0 420px;
            .navigationList {
                display: flex;
                justify-content: space-between;



                .navigationListItem {

                    font-size: $fontSize1;
                    line-height: 48px;
                    font-weight: 600;

                    @media (max-width:1460px) {
                        padding: 0px 60px 0px 120px;
                    }

                    @media (max-width: 1024px) {
                        padding: 0px 0px 0px 120px;
                    }

                    @media (max-width: 767px) {
                        display: none;
                    }

                    a {
                        color: #fff;
                        text-decoration: none;

                    }

                    &:hover {
                        .web {

                            color: rgb(37, 142, 222);
                        }

                        .windows {

                            color: rgb(79, 229, 255);
                        }

                        .ios {

                            color: rgb(207, 143, 255);
                        }

                        .android:hover {
                            color: rgb(105, 229, 110);
                        }
                    }

                }

            }
        }
    }

    //main部分
    //第一塊styledIntroductio
    .styledMain {
        width: 100%;
        overflow: hidden;
    }

    .styledIntroductio {
        // background-color: red;
        width: 100%;
        padding: 145px 0px 60px;
        background-color: black;

        .inner {
            width: 1536px;
            margin: 0px auto;

            .content {
                width: 410px;
                flex: 0 0 auto;

                .title {

                    .hading {
                        // background-color: red;
                        font-size: 64px;
                        line-height: 80px;
                        color: rgb(79, 229, 255);
                        font-weight: 600;
                        margin: 0px 0px 0px -6px;

                    }
                }

                .description {
                    p {
                        color: rgb(255, 255, 255);
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 600;
                        margin: 0px 0px 24px;
                    }
                }

            }

            .media {
                padding: 0 380px;
                position: relative;

                .leftLine {
                    position: absolute;
                    top: -15px;
                    right: 180px;
                }

                .rightLine {
                    position: absolute;
                    bottom: 155px;
                    left: 180px;
                }

            }

        }
    }
}

// 第二塊styledPlatforms 
.styledPlatforms {
    width: 100%;
    position: relative;
    background-color: black;
    background-color: rgb(34, 128, 200);

    &::before {
        content: "";
        width: 50vw;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 0;
        background-color: rgb(34, 128, 200);
    }

    &::after {
        content: "";
        width: 50vw;
        height: 100%;
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 0;
        background-color: rgb(95, 207, 99);
    }

    .inner {
        width: 1536px;
        margin: auto;
        z-index: 2;

        .grid {
            width: 100%;
            position: relative;
            z-index: 1;

            .platform {
                height: 384px;
                position: relative;
                z-index: 2;
                padding: 26px 26px 10px 26px;

                .icon {
                    min-height: 96px;
                    width: 100%;
                    height: 200px;
                    text-align: left;



                }

                .content {
                    color: black;

                    h2 {
                        margin: 0 0 26px;
                    }

                }

                .action {
                    color: black;
                }
            }

            .web {
                background-color: rgb(37, 142, 222);

                &:hover {
                    background-color: rgb(58, 122, 206);

                }
            }

            .windows {
                background-color: rgb(79, 229, 255);

                &:hover {
                    background-color: rgb(94, 220, 245);
                }
            }

            .iOS {
                background-color: rgb(207, 143, 255);

                &:hover {
                    background-color: rgb(221, 130, 221);
                }
            }

            .android {
                background-color: rgb(105, 229, 110);

                &:hover {
                    background-color: rgb(144, 218, 144);
                }
            }
        }
    }
}

// 第三塊 styledEveryDevice 套用Aos.js滾動框架動畫
.styledEveryDevice {
    width: 100%;
    min-height: 768px;
    background-image: url("../img/styledEveryDevice.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .inner {
        width: 1536px;
        margin: 0px auto;

        .title {
            color: rgb(0, 0, 0);
            font-size: 128px;
            line-height: 150px;
            font-weight: 600;

            h2 {
                font-size: 128px;
            }
        }

        .content {
            width: 100%;
            max-width: 384px;
            padding: 0px 16px 0px 24px;
            color: rgb(0, 0, 0);

            line-height: 24px;
            font-weight: 600;
            margin: 0px;

            p {
                font-size: 16px;
            }
        }
    }
}

// 第四塊 styledTerraformSphere
.styledTerraformSphere {
    width: 100%;

    .inner {
        position: relative;
        width: 1536px;
        margin: auto;

        .rect {
            position: absolute;
            top: -200px;
            right: 130px;
            pointer-events: none;
            z-index: 4;
        }

        .line {
            position: absolute;
            top: 570px;
            left: 190px;
            pointer-events: none;
        }

        .sphere {
            width: 100%;
            display: flex;
            // -webkit-box-pack: center;
            justify-content: center;
            // -webkit-box-align: center;
            align-items: center;
        }
    }
}

// 第五塊styledTerraformDescription
.styledTerraformDescription {
    width: 100%;

    .inner {
        width: 1536px;
        height: 146px;
        margin: auto;

        .content {
            width: 352px;
            margin-left: auto;
            color: #fff;
        }
    }
}

//   第六塊styledIntuitivePowerful 
.styledIntuitivePowerful {

    width: 100%;
    position: relative;


    .title {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        padding-left: 160px;

        .inner {
            width: 1536px;
            position: absolute;
            bottom: -580px;

            h2 {
                font-size: 128px;
                line-height: 144px;
                font-weight: 600;
            }

            .planes {
                position: absolute;
                top: -240px;
                right: -260px;
                width: 768px;
            }

            .deHeader {
                position: absolute;
                top: -100px;
                left: 0px;
            }

            .signHeader {
                position: absolute;
                top: 140px;
                right: -30px;
            }


        }

    }
}

//第七塊StyledClouds
.styledClouds {
    // background: url("../img/styledEveryDevice.jpg");
    background-image: url(../img/clouds.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0px;



    .inner {
        width: 1536px;

        .planes {
            position: absolute;
            top: -240px;
            right: -260px;

            .solidPlane {
                position: absolute;
                top: -120px;
                left: 2px;
            }

            .outlinePlane {
                width: 100%;
            }

        }

    }

    .deHeader {
        position: absolute;
        top: -135px;
        left: 240px;
        font-size: 395px;

    }

    .signHeader {
        position: absolute;
        top: 130px;
        right: 65px;
        font-size: 395px;
    }

    .lineBlack {
        position: absolute;
        top: 570px;
        left: 620px;
    }
}

// 第八塊StyledClouds
.styledEngagingImmersive {
    width: 100%;
    position: relative;
    min-height: 820px;
    background-color: rgb(204, 204, 204);

    .inner {
        width: 1536px;
        // position: relative;
        margin: auto;
        padding: 140px 40px 0px 8px;

        .title {
            .text {
                width: 100%;
                font-size: 128px;
                line-height: 150px;
                font-weight: 600;
            }
        }

        .content {
            width: 100%;
            margin: 60px 0px 0px;

            max-width: 384px;
            padding: 0px 16px;

            .contentBlock {
                font-size: 16px;
                line-height: 24px;
                font-weight: 600;
                margin: 0px;
            }
        }
    }

    .media {
        position: absolute;
        top: 200px;
        right: 0px;
        max-width: 1000px;

        @media (max-width: 1940px) {
            max-width: 900px;
        }

        @media (max-width: 1680px) {
            max-width: 50vw;
        }

        @media (max-width: 1024px) {
            max-width: 70vw;
        }

        @media (max-width: 767px) {
            max-width: 60vw;
        }
    }

}

// 第九塊styledSpac
.styledSpace {
    width: 100%;
    height: 100vh;
    min-height: 768px;
    background-image: url(../img/space.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .inner {
        position: relative;
        width: 1536px;
        margin: auto;

        .fluent {
            position: absolute;
            top: -95px;
            left: 340px;
        }

        .line {
            position: absolute;
            top: 185px;
            left: 165px;
        }

        .whiteRect {
            position: absolute;
            top: -125px;
            left: 620px;
        }

        .whitePlane {
            position: absolute;
            top: 530px;
            right: 85px;
        }

        .lilacRect {
            position: absolute;
            top: 370px;
            right: 220px;
        }
    }
}

// 第十塊styledMedia
.styledMedia {
    position: relative;
    width: 100%;
    z-index: 1;
    width: 100%;
    margin: 0px 0px 160px;

    @media (max-width: 1024px) {
        margin: 0px 0px 60px;
    }

    @media (max-width: 960px) {
        margin: 0px;
    }

    .inner {
        position: relative;
        z-index: 2;
        width: 1536px;
        margin: auto;

        .grid {
            width: 100%;
            position: relative;


            .item {

                position: relative;
                z-index: 2;
                padding: 16px;

                a {
                    text-decoration: none;

                    .content {
                        width: 100%;
                        height: 384px;
                        padding: 16px;
                        color: rgb(255, 255, 255);
                        font-size: 32px;
                        line-height: 40px;
                        font-weight: 600;

                    }

                    .source {
                        width: 100%;
                        padding: 16px;

                        // .icon {}

                        .title {
                            color: rgb(255, 255, 255);
                        }
                    }
                }

                &:nth-child(1) {
                    background-color: rgba(0, 0, 0, 0.900);

                    .icon {
                        fill: white;
                    }

                    &:hover,
                    &:focus,
                    &:active {
                        background-color: white;

                        .icon {
                            fill: black;
                        }
                    }
                }

                &:nth-child(2) {
                    background-color: gray;

                    .icon {
                        fill: white;
                    }

                    &:hover,
                    &:focus,
                    &:active {
                        background-color: white;

                        .icon {
                            fill: black;
                        }
                    }
                }

                &:nth-child(3) {
                    background-color: darkgray;

                    &:hover,
                    &:focus,
                    &:active {
                        background-color: white;
                    }
                }

                &:nth-child(4) {
                    background-color: gainsboro;

                    &:hover,
                    &:focus,
                    &:active {
                        background-color: white;
                    }
                }
            }
        }
    }
}


// 第十一塊styledNews
.styledNews {
    width: 100%;

    .inner {
        width: 1536px;
        margin: auto;
        padding-bottom: 200px;

        .newsList {
            .newsItem {
                .title {
                    width: 575px;
                    font-size: 32px;
                    line-height: 40px;
                    color: rgb(255, 255, 255);
                    font-weight: 600;


                }

                .content {
                    flex: 1 1 auto;
                    padding-right: 327px;
                    color: rgb(255, 255, 255);
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 600;
                    .action {
                        span {
                            color: rgb(255, 255, 255);
                        }
                    }
                }
            }

        }
    }
}

// footer styledFooter
.styledFooter {
    width: 100%;
    height: 48px;

    @media (max-width: 1024px) {
        height: auto;
        padding: 0px 0px 18px;
    }

    .inner {
        // background-color: green;
        width: 1536px;
        margin: auto;
        display: flex;
        justify-content: space-between;

        .logo {
            width: 190px;
            height: 48px;
            padding: 15px 0;

            @media (max-width: 1280px) {
                width: 40px;
            }

            @media (max-width: 1024px) {
                width: 80px;
                order: 1;
                margin-right: auto;
            }

            a {
                svg {
                    fill: white;
                    width: 16px;
                    line-height: 48px;
                }
            }

            &:hover .microsoft-red {
                fill: rgb(242, 80, 34);
                transition: 0.4;
            }

            &:hover .microsoft-green {
                fill: rgb(127, 186, 0);
                transition: 0.8;
            }

            &:hover .microsoft-blue {
                fill: rgb(0, 164, 239);
                transition: 1.2;
            }

            &:hover .microsoft-yellow {
                fill: rgb(255, 185, 0);
                transition: 1.6;
            }

            svg {
                cursor: pointer;

            }
        }

        .navigation {
            height: 48px;
            flex: 1 1 auto;
            padding: 0px 100px 0px 0px;

            @media (max-width: 1024px) {
                order: 3;
                padding: 0;
            }

            .navigationList {
                width: 100%;
                // justify-content: space-between;
                color: rgb(255, 255, 255);

                // @media (max-width: 670px) {
                //     justify-content: flex-start;
                //     flex-wrap: wrap;

                    .navigationListItem {
                        width: auto;
                        color: rgb(255, 255, 255);
                        font-size: 12px;
                        line-height: 48px;
                        font-weight: 400;
                        margin: 0px;
                        padding: 0px;

                        // @media (max-width: 670px) {
                        //     line-height: 30px;
                        //     margin: 0px 20px 0px 0px;
                        // }

                        a {
                            color: white;
                            position: relative;

                            &:hover {
                                color: rgb(255, 255, 255);
                                opacity: 0.6;

                                &::after {
                                    opacity: 1;
                                    bottom: -2px;
                                }
                            }

                            &::after {
                                content: "";
                                position: absolute;
                                left: 0px;
                                bottom: -6px;
                                width: 100%;
                                opacity: 0;
                                height: 1px;
                                background-color: rgb(255, 255, 255);
                                transition: all 200ms linear 0ms;


                            }
                        }
                    }
                }
            }
        }
    }
}

.Social {
    display: flex;
    height: 48px;

    // @media (max-width: 1024px) {

    //     width: 50%;
    //     order: 2;
    //     justify-content: flex-end;
    // }

    // @media (max-width: 500px) {
    //     order: 4;
    //     width: 100%;
    //     justify-content: flex-start;
    //     margin-top: 16px;
    // }

    a {
        width: 48px;
        height: 48px;
        display: flex;
        -webkit-box-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        align-items: center;

        @media (max-width: 500px) {
            justify-content: flex-start;
        }

        svg {
            width: 20px;

            path {

                fill: white;
            }

        }

        &:hover {

            .linkedin {
                path {
                    fill: rgb(0, 119, 181);
                }

            }

            .dribbble {
                path {
                    fill: rgb(234, 76, 137);
                }
            }

            .twitter {
                path {
                    fill: rgb(56, 161, 243);
                }
            }

            .medium {
                path {
                    fill: rgb(0, 171, 108);
                }
            }

            .facebook {
                path {
                    fill: rgb(59, 89, 152);
                }
            }

        }
    }
}
